$platinum: #CCDBDC;
$non-photo-blue: #9AD1D4;
$brown: #757763;
$cerulean: #007EA7;
$prussian-blue: #003249;

@use "bulma/sass" with (
  $family-primary: "Courier New",
  $primary: $cerulean,
  $text: $prussian-blue,
);

:root {
  // Make sure the entire (web) page is used
  min-height: 100vh;
}